--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: ClientPostType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ClientPostType" AS ENUM (
    'RECIPE',
    'EXPERIENCE',
    'BEFORE_AFTER'
);


ALTER TYPE public."ClientPostType" OWNER TO postgres;

--
-- Name: OfferType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OfferType" AS ENUM (
    'AI_CALORIES',
    'PLAN',
    'PACKAGE'
);


ALTER TYPE public."OfferType" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'SUCCESS',
    'FAILED',
    'PENDING'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PostStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PostStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED'
);


ALTER TYPE public."PostStatus" OWNER TO postgres;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'CLIENT',
    'NUTRITION'
);


ALTER TYPE public."Role" OWNER TO postgres;

--
-- Name: SessionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SessionStatus" AS ENUM (
    'SCHEDULED',
    'COMPLETED',
    'CANCELLED',
    'PENDING_SCHEDULE'
);


ALTER TYPE public."SessionStatus" OWNER TO postgres;

--
-- Name: SubscriptionStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."SubscriptionStatus" AS ENUM (
    'ACTIVE',
    'EXPIRED',
    'CANCELLED',
    'PENDING'
);


ALTER TYPE public."SubscriptionStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BlogPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BlogPost" (
    id uuid NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    "authorId" uuid NOT NULL,
    status public."PostStatus" DEFAULT 'PENDING'::public."PostStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "deletedAt" timestamp(3) without time zone,
    images text[] DEFAULT ARRAY[]::text[],
    videos text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."BlogPost" OWNER TO postgres;

--
-- Name: ClientPost; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ClientPost" (
    id uuid NOT NULL,
    "authorId" uuid NOT NULL,
    type public."ClientPostType" DEFAULT 'EXPERIENCE'::public."ClientPostType" NOT NULL,
    title text NOT NULL,
    content text NOT NULL,
    images text[] DEFAULT ARRAY[]::text[],
    likes integer DEFAULT 0 NOT NULL,
    status public."PostStatus" DEFAULT 'PENDING'::public."PostStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ClientPost" OWNER TO postgres;

--
-- Name: Conversation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Conversation" (
    id uuid NOT NULL,
    "patientId" uuid NOT NULL,
    "nutritionId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone
);


ALTER TABLE public."Conversation" OWNER TO postgres;

--
-- Name: DailyTracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DailyTracking" (
    id uuid NOT NULL,
    "userPlanId" uuid NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "mealsDoneIds" text[] DEFAULT ARRAY[]::text[],
    "mealsMissedIds" text[] DEFAULT ARRAY[]::text[],
    "habitsDoneIds" text[] DEFAULT ARRAY[]::text[],
    "habitsMissedIds" text[] DEFAULT ARRAY[]::text[],
    calories integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."DailyTracking" OWNER TO postgres;

--
-- Name: Inquiry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Inquiry" (
    id uuid NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    message text NOT NULL,
    resolved boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" uuid,
    "adminReply" text
);


ALTER TABLE public."Inquiry" OWNER TO postgres;

--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id uuid NOT NULL,
    "conversationId" uuid NOT NULL,
    "senderId" uuid NOT NULL,
    content text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    title text,
    message text NOT NULL,
    link text,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    url text
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Offer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Offer" (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    type public."OfferType" NOT NULL,
    price double precision NOT NULL,
    "durationDays" integer NOT NULL,
    "hasFreeTrial" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "nutritionId" uuid,
    "sessionsCount" integer DEFAULT 1 NOT NULL,
    "chatDays" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Offer" OWNER TO postgres;

--
-- Name: Payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payment" (
    id uuid NOT NULL,
    "subscriptionId" uuid NOT NULL,
    amount double precision NOT NULL,
    status public."PaymentStatus" NOT NULL,
    "paymentMethod" text NOT NULL,
    "transactionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Payment" OWNER TO postgres;

--
-- Name: Plan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Plan" (
    id uuid NOT NULL,
    "offerId" uuid NOT NULL,
    "nutritionId" uuid,
    title text NOT NULL,
    content jsonb NOT NULL,
    images text[] DEFAULT ARRAY[]::text[],
    videos text[] DEFAULT ARRAY[]::text[],
    "pdfUrl" text,
    goals text[] DEFAULT ARRAY[]::text[],
    "activityLevels" text[] DEFAULT ARRAY[]::text[],
    "minWeight" double precision,
    "maxWeight" double precision,
    "minHeight" double precision,
    "maxHeight" double precision,
    "medicalConditions" text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isPrivate" boolean DEFAULT false NOT NULL,
    "patientId" uuid
);


ALTER TABLE public."Plan" OWNER TO postgres;

--
-- Name: Profile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Profile" (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    "dateOfBirth" timestamp(3) without time zone NOT NULL,
    gender text NOT NULL,
    weight double precision NOT NULL,
    height double precision NOT NULL,
    goal text NOT NULL,
    "activityLevel" text NOT NULL,
    allergies text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    images text[] DEFAULT ARRAY[]::text[],
    "medicalConditions" text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."Profile" OWNER TO postgres;

--
-- Name: Resume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Resume" (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    bio text,
    "experienceYears" integer,
    specializations text[] DEFAULT ARRAY[]::text[],
    "ratingAverage" double precision DEFAULT 0 NOT NULL,
    images text[] DEFAULT ARRAY[]::text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    education text,
    workplace text,
    "offersTypes" public."OfferType"[] DEFAULT ARRAY[]::public."OfferType"[],
    certifications text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public."Resume" OWNER TO postgres;

--
-- Name: Review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Review" (
    id uuid NOT NULL,
    "patientId" uuid NOT NULL,
    "nutritionId" uuid NOT NULL,
    rating integer NOT NULL,
    comment text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "sessionId" uuid NOT NULL
);


ALTER TABLE public."Review" OWNER TO postgres;

--
-- Name: Session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Session" (
    id uuid NOT NULL,
    "subscriptionId" uuid NOT NULL,
    "patientId" uuid NOT NULL,
    "nutritionId" uuid NOT NULL,
    "sessionDate" timestamp(3) without time zone,
    status public."SessionStatus" DEFAULT 'SCHEDULED'::public."SessionStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "zoomLink" text,
    "reminderSent" boolean DEFAULT false NOT NULL,
    "sessionNumber" integer DEFAULT 1 NOT NULL
);


ALTER TABLE public."Session" OWNER TO postgres;

--
-- Name: Stripe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Stripe" (
    "stripeAccountId" text NOT NULL,
    "userId" uuid NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Stripe" OWNER TO postgres;

--
-- Name: Subscription; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Subscription" (
    id uuid NOT NULL,
    "patientId" uuid NOT NULL,
    "nutritionId" uuid,
    "offerId" uuid NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."SubscriptionStatus" DEFAULT 'PENDING'::public."SubscriptionStatus" NOT NULL,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Subscription" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id uuid NOT NULL,
    email text NOT NULL,
    password text,
    role public."Role" DEFAULT 'CLIENT'::public."Role" NOT NULL,
    "googleId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "firstName" text,
    image text,
    "lastName" text,
    "deletedAt" timestamp(3) without time zone,
    "resetToken" text,
    "resetTokenExpiry" timestamp(3) without time zone,
    "usedFreePlanTrial" boolean DEFAULT false NOT NULL,
    "needsSetup" boolean DEFAULT true NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: UserPlan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."UserPlan" (
    id uuid NOT NULL,
    "userId" uuid NOT NULL,
    "planId" uuid NOT NULL,
    "subscriptionId" uuid NOT NULL,
    "startDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    progress double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."UserPlan" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Data for Name: BlogPost; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ClientPost; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Conversation" (id, "patientId", "nutritionId", "createdAt", "updatedAt", "expiresAt") FROM stdin;
16f43db3-7c92-4329-87bd-e4ffcfb47193	e257f62d-99c1-446b-a73f-e7567537a4ce	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-17 20:12:05.656	2026-05-18 19:53:11.726	2026-06-16 20:12:05.648
f827f07b-9c32-48c4-aaa3-31f92bc1ac8f	90607a8b-f0b7-48f1-9070-58a51ccc22de	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-18 20:09:34.951	2026-05-18 20:16:34.156	2026-06-17 20:09:34.947
\.


--
-- Data for Name: DailyTracking; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Inquiry; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Inquiry" (id, name, email, message, resolved, "createdAt", "userId", "adminReply") FROM stdin;
9cf706d0-1463-49e8-8996-53af1df15095	AYA	ayouche250@gmail.com	I WANT TO KNOW	t	2026-05-19 11:14:25.966	\N	Please try again and contact us if the problem persists.
280b59a4-8fb3-4340-877b-45ded596387f	AYA	aya.moualdi@univ-constantine2.dz	HI I WANT TO HAVE MY DET PLAN PAY FOR NOTHING	t	2026-05-19 18:00:42.844	\N	OKEY WE WILL TALK WITH NUTRATION
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payment" (id, "subscriptionId", amount, status, "paymentMethod", "transactionId", "createdAt") FROM stdin;
cae27e7c-6f5d-47c2-b712-f96994ce673e	b2f208d8-2117-4d02-85aa-a113b077a380	149.99	SUCCESS	stripe	pi_3TYB2eRzHiwuxePs0Hm2rqrk	2026-05-17 20:12:05.61
c7da38c2-fd37-4ce5-8211-3692191b948c	f6ed6e3d-ef69-4ae1-995a-343912c1e440	149.99	SUCCESS	stripe	pi_3TYXTmRzHiwuxePs1fBCNRcr	2026-05-18 20:09:34.912
b7da86e9-6bad-4ab0-9428-4d0dfb3fea73	e86351e9-418b-475c-abcd-9ab272c90d00	20	SUCCESS	stripe	pi_3TYXdmRzHiwuxePs0D1orNQX	2026-05-18 20:19:52.603
\.


--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Profile; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Resume; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Review" (id, "patientId", "nutritionId", rating, comment, "createdAt", "sessionId") FROM stdin;
89a7a0ad-f561-485a-817b-5ef09c8bf879	e257f62d-99c1-446b-a73f-e7567537a4ce	0353f629-222b-432f-bb10-0ec573ce3e83	3	that was good	2026-05-18 22:51:32.763	8f011889-b7cd-4300-9966-975014ab2fc5
\.


--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: Stripe; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Stripe" ("stripeAccountId", "userId", "createdAt") FROM stdin;
acct_1TXlnT2OPW8XO8Vf	821ee52d-87e7-42a6-9cc4-b59c0afeb808	2026-05-16 17:14:45.64
acct_1TXm4Y2Kvn8QQlmj	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-16 17:32:25.07
acct_1TXmNyRuxVKAT4oZ	27aafa16-0b59-41a8-a723-ca4566fe0a07	2026-05-16 17:52:29.276
acct_1TXmVCRpnrOnVOua	73fec969-0879-4946-8bcf-0fbfbe32a695	2026-05-16 17:59:56.963
\.


--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: UserPlan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: BlogPost BlogPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlogPost"
    ADD CONSTRAINT "BlogPost_pkey" PRIMARY KEY (id);


--
-- Name: ClientPost ClientPost_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientPost"
    ADD CONSTRAINT "ClientPost_pkey" PRIMARY KEY (id);


--
-- Name: Conversation Conversation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_pkey" PRIMARY KEY (id);


--
-- Name: DailyTracking DailyTracking_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyTracking"
    ADD CONSTRAINT "DailyTracking_pkey" PRIMARY KEY (id);


--
-- Name: Inquiry Inquiry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Offer Offer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_pkey" PRIMARY KEY (id);


--
-- Name: Payment Payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_pkey" PRIMARY KEY (id);


--
-- Name: Plan Plan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_pkey" PRIMARY KEY (id);


--
-- Name: Profile Profile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_pkey" PRIMARY KEY (id);


--
-- Name: Resume Resume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_pkey" PRIMARY KEY (id);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY (id);


--
-- Name: Session Session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_pkey" PRIMARY KEY (id);


--
-- Name: Stripe Stripe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stripe"
    ADD CONSTRAINT "Stripe_pkey" PRIMARY KEY ("stripeAccountId");


--
-- Name: Subscription Subscription_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_pkey" PRIMARY KEY (id);


--
-- Name: UserPlan UserPlan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPlan"
    ADD CONSTRAINT "UserPlan_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: BlogPost_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "BlogPost_status_idx" ON public."BlogPost" USING btree (status);


--
-- Name: Conversation_nutritionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Conversation_nutritionId_idx" ON public."Conversation" USING btree ("nutritionId");


--
-- Name: Conversation_patientId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Conversation_patientId_idx" ON public."Conversation" USING btree ("patientId");


--
-- Name: Conversation_patientId_nutritionId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Conversation_patientId_nutritionId_key" ON public."Conversation" USING btree ("patientId", "nutritionId");


--
-- Name: DailyTracking_userPlanId_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "DailyTracking_userPlanId_date_key" ON public."DailyTracking" USING btree ("userPlanId", date);


--
-- Name: Message_conversationId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_conversationId_idx" ON public."Message" USING btree ("conversationId");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: Payment_subscriptionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Payment_subscriptionId_idx" ON public."Payment" USING btree ("subscriptionId");


--
-- Name: Plan_offerId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Plan_offerId_key" ON public."Plan" USING btree ("offerId");


--
-- Name: Profile_activityLevel_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Profile_activityLevel_idx" ON public."Profile" USING btree ("activityLevel");


--
-- Name: Profile_goal_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Profile_goal_idx" ON public."Profile" USING btree (goal);


--
-- Name: Profile_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Profile_userId_key" ON public."Profile" USING btree ("userId");


--
-- Name: Resume_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Resume_userId_key" ON public."Resume" USING btree ("userId");


--
-- Name: Review_sessionId_patientId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Review_sessionId_patientId_key" ON public."Review" USING btree ("sessionId", "patientId");


--
-- Name: Session_nutritionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_nutritionId_idx" ON public."Session" USING btree ("nutritionId");


--
-- Name: Session_patientId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_patientId_idx" ON public."Session" USING btree ("patientId");


--
-- Name: Session_reminderSent_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_reminderSent_idx" ON public."Session" USING btree ("reminderSent");


--
-- Name: Session_sessionDate_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_sessionDate_idx" ON public."Session" USING btree ("sessionDate");


--
-- Name: Session_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Session_status_idx" ON public."Session" USING btree (status);


--
-- Name: Stripe_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Stripe_userId_key" ON public."Stripe" USING btree ("userId");


--
-- Name: Subscription_nutritionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_nutritionId_idx" ON public."Subscription" USING btree ("nutritionId");


--
-- Name: Subscription_patientId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_patientId_idx" ON public."Subscription" USING btree ("patientId");


--
-- Name: Subscription_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Subscription_status_idx" ON public."Subscription" USING btree (status);


--
-- Name: UserPlan_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "UserPlan_userId_idx" ON public."UserPlan" USING btree ("userId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: BlogPost BlogPost_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BlogPost"
    ADD CONSTRAINT "BlogPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ClientPost ClientPost_authorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ClientPost"
    ADD CONSTRAINT "ClientPost_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Conversation Conversation_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Conversation Conversation_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Conversation"
    ADD CONSTRAINT "Conversation_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: DailyTracking DailyTracking_userPlanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DailyTracking"
    ADD CONSTRAINT "DailyTracking_userPlanId_fkey" FOREIGN KEY ("userPlanId") REFERENCES public."UserPlan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Inquiry Inquiry_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Inquiry"
    ADD CONSTRAINT "Inquiry_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_conversationId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES public."Conversation"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Offer Offer_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Payment Payment_subscriptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payment"
    ADD CONSTRAINT "Payment_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES public."Subscription"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Plan Plan_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Plan Plan_offerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_offerId_fkey" FOREIGN KEY ("offerId") REFERENCES public."Offer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Plan Plan_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Plan"
    ADD CONSTRAINT "Plan_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Profile Profile_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Resume Resume_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Resume"
    ADD CONSTRAINT "Resume_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Review Review_sessionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_sessionId_fkey" FOREIGN KEY ("sessionId") REFERENCES public."Session"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Session Session_subscriptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Session"
    ADD CONSTRAINT "Session_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES public."Subscription"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Stripe Stripe_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Stripe"
    ADD CONSTRAINT "Stripe_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Subscription Subscription_nutritionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_nutritionId_fkey" FOREIGN KEY ("nutritionId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Subscription Subscription_offerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_offerId_fkey" FOREIGN KEY ("offerId") REFERENCES public."Offer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Subscription Subscription_patientId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Subscription"
    ADD CONSTRAINT "Subscription_patientId_fkey" FOREIGN KEY ("patientId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserPlan UserPlan_planId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPlan"
    ADD CONSTRAINT "UserPlan_planId_fkey" FOREIGN KEY ("planId") REFERENCES public."Plan"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserPlan UserPlan_subscriptionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPlan"
    ADD CONSTRAINT "UserPlan_subscriptionId_fkey" FOREIGN KEY ("subscriptionId") REFERENCES public."Subscription"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: UserPlan UserPlan_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."UserPlan"
    ADD CONSTRAINT "UserPlan_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

