--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."User" DISABLE TRIGGER ALL;



ALTER TABLE public."User" ENABLE TRIGGER ALL;

--
-- Data for Name: BlogPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."BlogPost" DISABLE TRIGGER ALL;



ALTER TABLE public."BlogPost" ENABLE TRIGGER ALL;

--
-- Data for Name: ClientPost; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ClientPost" DISABLE TRIGGER ALL;



ALTER TABLE public."ClientPost" ENABLE TRIGGER ALL;

--
-- Data for Name: Conversation; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Conversation" DISABLE TRIGGER ALL;

COPY public."Conversation" (id, "patientId", "nutritionId", "createdAt", "updatedAt", "expiresAt") FROM stdin;
16f43db3-7c92-4329-87bd-e4ffcfb47193	e257f62d-99c1-446b-a73f-e7567537a4ce	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-17 20:12:05.656	2026-05-18 19:53:11.726	2026-06-16 20:12:05.648
f827f07b-9c32-48c4-aaa3-31f92bc1ac8f	90607a8b-f0b7-48f1-9070-58a51ccc22de	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-18 20:09:34.951	2026-05-18 20:16:34.156	2026-06-17 20:09:34.947
\.


ALTER TABLE public."Conversation" ENABLE TRIGGER ALL;

--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Offer" DISABLE TRIGGER ALL;



ALTER TABLE public."Offer" ENABLE TRIGGER ALL;

--
-- Data for Name: Plan; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Plan" DISABLE TRIGGER ALL;



ALTER TABLE public."Plan" ENABLE TRIGGER ALL;

--
-- Data for Name: Subscription; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Subscription" DISABLE TRIGGER ALL;



ALTER TABLE public."Subscription" ENABLE TRIGGER ALL;

--
-- Data for Name: UserPlan; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."UserPlan" DISABLE TRIGGER ALL;



ALTER TABLE public."UserPlan" ENABLE TRIGGER ALL;

--
-- Data for Name: DailyTracking; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."DailyTracking" DISABLE TRIGGER ALL;



ALTER TABLE public."DailyTracking" ENABLE TRIGGER ALL;

--
-- Data for Name: Inquiry; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Inquiry" DISABLE TRIGGER ALL;

COPY public."Inquiry" (id, name, email, message, resolved, "createdAt", "userId", "adminReply") FROM stdin;
9cf706d0-1463-49e8-8996-53af1df15095	AYA	ayouche250@gmail.com	I WANT TO KNOW	t	2026-05-19 11:14:25.966	\N	Please try again and contact us if the problem persists.
280b59a4-8fb3-4340-877b-45ded596387f	AYA	aya.moualdi@univ-constantine2.dz	HI I WANT TO HAVE MY DET PLAN PAY FOR NOTHING	t	2026-05-19 18:00:42.844	\N	OKEY WE WILL TALK WITH NUTRATION
\.


ALTER TABLE public."Inquiry" ENABLE TRIGGER ALL;

--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Message" DISABLE TRIGGER ALL;



ALTER TABLE public."Message" ENABLE TRIGGER ALL;

--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Notification" DISABLE TRIGGER ALL;



ALTER TABLE public."Notification" ENABLE TRIGGER ALL;

--
-- Data for Name: Payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Payment" DISABLE TRIGGER ALL;

COPY public."Payment" (id, "subscriptionId", amount, status, "paymentMethod", "transactionId", "createdAt") FROM stdin;
cae27e7c-6f5d-47c2-b712-f96994ce673e	b2f208d8-2117-4d02-85aa-a113b077a380	149.99	SUCCESS	stripe	pi_3TYB2eRzHiwuxePs0Hm2rqrk	2026-05-17 20:12:05.61
c7da38c2-fd37-4ce5-8211-3692191b948c	f6ed6e3d-ef69-4ae1-995a-343912c1e440	149.99	SUCCESS	stripe	pi_3TYXTmRzHiwuxePs1fBCNRcr	2026-05-18 20:09:34.912
b7da86e9-6bad-4ab0-9428-4d0dfb3fea73	e86351e9-418b-475c-abcd-9ab272c90d00	20	SUCCESS	stripe	pi_3TYXdmRzHiwuxePs0D1orNQX	2026-05-18 20:19:52.603
\.


ALTER TABLE public."Payment" ENABLE TRIGGER ALL;

--
-- Data for Name: Profile; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Profile" DISABLE TRIGGER ALL;



ALTER TABLE public."Profile" ENABLE TRIGGER ALL;

--
-- Data for Name: Resume; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Resume" DISABLE TRIGGER ALL;



ALTER TABLE public."Resume" ENABLE TRIGGER ALL;

--
-- Data for Name: Session; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Session" DISABLE TRIGGER ALL;



ALTER TABLE public."Session" ENABLE TRIGGER ALL;

--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Review" DISABLE TRIGGER ALL;

COPY public."Review" (id, "patientId", "nutritionId", rating, comment, "createdAt", "sessionId") FROM stdin;
89a7a0ad-f561-485a-817b-5ef09c8bf879	e257f62d-99c1-446b-a73f-e7567537a4ce	0353f629-222b-432f-bb10-0ec573ce3e83	3	that was good	2026-05-18 22:51:32.763	8f011889-b7cd-4300-9966-975014ab2fc5
\.


ALTER TABLE public."Review" ENABLE TRIGGER ALL;

--
-- Data for Name: Stripe; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Stripe" DISABLE TRIGGER ALL;

COPY public."Stripe" ("stripeAccountId", "userId", "createdAt") FROM stdin;
acct_1TXlnT2OPW8XO8Vf	821ee52d-87e7-42a6-9cc4-b59c0afeb808	2026-05-16 17:14:45.64
acct_1TXm4Y2Kvn8QQlmj	0353f629-222b-432f-bb10-0ec573ce3e83	2026-05-16 17:32:25.07
acct_1TXmNyRuxVKAT4oZ	27aafa16-0b59-41a8-a723-ca4566fe0a07	2026-05-16 17:52:29.276
acct_1TXmVCRpnrOnVOua	73fec969-0879-4946-8bcf-0fbfbe32a695	2026-05-16 17:59:56.963
\.


ALTER TABLE public."Stripe" ENABLE TRIGGER ALL;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public._prisma_migrations DISABLE TRIGGER ALL;



ALTER TABLE public._prisma_migrations ENABLE TRIGGER ALL;

--
-- PostgreSQL database dump complete
--

